<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Foms.Shared.Settings.TechnicalSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octopus.Shared.Settings.TechnicalSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octopus.Shared.Settings.UserSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octopus.Shared.Settings.ApplicationSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octopus.Shared.Settings.DatabaseSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octopus.Shared.ApplicationSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octopus.Shared.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Foms.Shared.Settings.TechnicalSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Octopus.Shared.Settings.TechnicalSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Foms.Shared.Settings.TechnicalSettingsStore>
            <setting name="DATABASE_NAME" serializeAs="String">
                <value>FomsNet</value>
            </setting>
            <setting name="DATABASE_SERVER_NAME" serializeAs="String">
                <value>server7</value>
            </setting>
            <setting name="DATABASE_LOGIN_NAME" serializeAs="String">
                <value>nariman</value>
            </setting>
            <setting name="DATABASE_PASSWORD" serializeAs="String">
                <value>letsgo</value>
            </setting>
            <setting name="SENT_QUESTIONNAIRE" serializeAs="String">
                <value>False</value>
            </setting>
        </Foms.Shared.Settings.TechnicalSettingsStore>
        <Octopus.Shared.Settings.TechnicalSettingsStore>
            <setting name="DATABASE_NAME" serializeAs="String">
                <value>octopus</value>
            </setting>
            <setting name="DATABASE_SERVER_NAME" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DATABASE_LOGIN_NAME" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DATABASE_PASSWORD" serializeAs="String">
                <value>octopus</value>
            </setting>
            <setting name="BRANCH_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SENT_QUESTIONNAIRE" serializeAs="String">
                <value>False</value>
            </setting>
        </Octopus.Shared.Settings.TechnicalSettingsStore>
        <Octopus.Shared.Settings.UserSettingsStore>
            <setting name="LANGUAGE" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="BACKUP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="EXPORT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTO_UPDATE" serializeAs="String">
                <value>False</value>
            </setting>
        </Octopus.Shared.Settings.UserSettingsStore>
        <Octopus.Shared.Settings.ApplicationSettingsStore>
            <setting name="LANGUAGE" serializeAs="String">
                <value />
            </setting>
            <setting name="BACKUP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="EXPORT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTO_UPDATE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REMOTING_SERVICES_CONNECTION" serializeAs="String">
                <value>http://192.168.2.11:1069/RemoteOperation</value>
            </setting>
            <setting name="REMOTING_CORE_DOMAIN_CONNECTION" serializeAs="String">
                <value>http://192.168.2.11:1069/RemoteCoreDomain</value>
            </setting>
            <setting name="ONLINE" serializeAs="String">
                <value>False</value>
            </setting>
        </Octopus.Shared.Settings.ApplicationSettingsStore>
        <Octopus.Shared.Settings.DatabaseSettingsStore>
            <setting name="DATABASE" serializeAs="String">
                <value />
            </setting>
            <setting name="SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="TIMEOUT" serializeAs="String">
                <value />
            </setting>
        </Octopus.Shared.Settings.DatabaseSettingsStore>
        <Octopus.Shared.ApplicationSettingsStore>
            <setting name="LANGUAGE" serializeAs="String">
                <value />
            </setting>
            <setting name="BACKUP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="EXPORT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTO_UPDATE" serializeAs="String">
                <value />
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value>octopus</value>
            </setting>
            <setting name="SERVER" serializeAs="String">
                <value>localhost\octopus</value>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>octopus</value>
            </setting>
            <setting name="TIMEOUT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ONLINE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REMOTING_SERVICES_CONNECTION" serializeAs="String">
                <value>http://192.168.2.11:1069/RemoteOperation</value>
            </setting>
            <setting name="REMOTING_CORE_DOMAIN_CONNECTION" serializeAs="String">
                <value>http://192.168.2.11:1069/RemoteCoreDomain</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </Octopus.Shared.ApplicationSettingsStore>
        <Octopus.Shared.ApplicationSettings>
            <setting name="LANGUAGE" serializeAs="String">
                <value />
            </setting>
            <setting name="BACKUP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="EXPORT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTO_UPDATE" serializeAs="String">
                <value />
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value />
            </setting>
            <setting name="SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="TIMEOUT" serializeAs="String">
                <value />
            </setting>
            <setting name="ONLINE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="REMOTING_CONNECTION" serializeAs="String">
                <value>http://octo-octopus-on:1069/RemoteOperation</value>
            </setting>
        </Octopus.Shared.ApplicationSettings>
    </userSettings>
    <applicationSettings>
        <Foms.Shared.Settings.TechnicalSettingsStore>
            <setting name="DATABASE_TIMEOUT" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="VERSION" serializeAs="String">
                <value>0.1.0</value>
            </setting>
            <setting name="COMPANY" serializeAs="String">
                <value>ТФОМС Дагестан</value>
            </setting>
            <setting name="COPYRIGHT" serializeAs="String">
                <value>ТФОМС Дагестан</value>
            </setting>
            <setting name="TRADEMARK" serializeAs="String">
                <value>ТФОМС Дагестан</value>
            </setting>
            <setting name="PRODUCT" serializeAs="String">
                <value>FOMS.NET</value>
            </setting>
            <setting name="DEBUG_MODE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DEBUG_LEVEL" serializeAs="String">
                <value>10</value>
            </setting>
        </Foms.Shared.Settings.TechnicalSettingsStore>
        <Octopus.Shared.Settings.TechnicalSettingsStore>
            <setting name="DATABASE_TIMEOUT" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="VERSION" serializeAs="String">
                <value>3.1.0</value>
            </setting>
            <setting name="COMPANY" serializeAs="String">
                <value>Octopus Micro Finance</value>
            </setting>
            <setting name="COPYRIGHT" serializeAs="String">
                <value>Octopus Micro Finance</value>
            </setting>
            <setting name="TRADEMARK" serializeAs="String">
                <value>Octopus Micro Finance</value>
            </setting>
            <setting name="PRODUCT" serializeAs="String">
                <value>OCTOPUS Micro Finance Suite</value>
            </setting>
            <setting name="ONLINE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEBUG_MODE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEBUG_LEVEL" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="REMOTING_SERVER" serializeAs="String">
                <value>virtualxp</value>
            </setting>
            <setting name="REMOTING_SERVER_PORT" serializeAs="String">
                <value>1069</value>
            </setting>
        </Octopus.Shared.Settings.TechnicalSettingsStore>
    </applicationSettings>
</configuration>
